# HomeBrew
Brewfile.lock.json

# Git
config/git/**/*
!config/git/config
!config/git/ignore

# SSH
config/ssh/**/*
!config/ssh/config
!config/ssh/conf.d

# AWS
config/aws/**/*

# Herdr
config/herdr/**/*
!config/herdr/config.toml

# .gitkeep
!**/*/.gitkeep
